.carousel {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Botones de navegación */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Opcional: Para agregar efectos cuando pasas el ratón por los botones */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
