<!-- <div id="index-banner">
  <div class="row">
    <div class="col l4 offset-l4 s8 offset-s2">
	     <h1>
	        <img id="index-top-logo" src="/img/logos/gdee-rsef.png" alt="Logo Estudiantes RSEF">
	     </h1>
    </div>
    <div class="col l4 offset-l4 s8 offset-s2">
	     <h1>
	        <center><iframe width="560" height="315" src="https://www.youtube.com/embed/GcoZuXLViAA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
	     </h1>
    </div>
  </div>
</div> -->

<div id="index-banner">
  <div class="row">
    <div class="col l4 offset-l4 s8 offset-s2">
	     <h1>
	        <img id="index-top-logo" src="/img/logos/gdee-rsef.png" alt="Logo Estudiantes RSEF">
	     </h1>
    </div>
  </div>
</div>


<!-- <div id="index-banner">
  <div class="row">
    <div class="col s12 m6">
	<h1>
	   <img id="index-top-logo" src="/img/logos/gdee-rsef.png" alt="Logo Estudiantes RSEF">
	</h1>
    </div>
    <div class="col s12 m6">
	<center><iframe width="560" height="315" src="https://www.youtube.com/embed/GcoZuXLViAA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
    </div>
  </div>
</div> -->

