<div class="section" id="content-desktop">
	
	<h2>Organiza:</h2>
	<div class="row">
		<div class="col s12 m6 l4">
			<img id="logo GdeE" class="materialboxed" width="100%" src="/img/logos/gdee-rsef.png" alt="Grupo de Estudiantes de la RSEF">
		</div>
		<div class="col s12 m6 l4">
			<img id="logo EPS-YM" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/YoungMinds.png" alt="European Physical Society - Young Minds">
		</div>
	</div>
	
	<h2>Colaboradores oro:</h2>
	<div class="row">
		<div class="col s6 m3 l3">
			<img id="logo Fujitsu" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/Fujitsu.png" alt="Fujitsu">
		</div>
		<div class="col s6 m3 l3">
			<img id="logo Facultad Ciencias Granada" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/FacCienciasGranada.png" alt="Facultad de Ciencias de Granada">
		</div>
	</div>
 
	<h2>Colaboradores plata:</h2>

	<div class="row">
		<div class="col s6 m3 l3">
			<img id="logo Parque de las Ciencias" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/ParqueDeLasCiencias.png" alt="Parque de las Ciencias de Granada">
		</div>
		<div class="col s6 m3 l3">
			<img id="logo Junta Andalucia" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/LogoAndaluciaJunto_redimension.svg" alt="Juventud Andaluza - Junta de Andalucia">
		</div>
		<div class="col s6 m3 l3">
			<img id="logo COFIS" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/COFIS.png" alt="COFIS">
		</div>
	</div>

	<h2>Colaboradores bronce:</h2>

	<div class="row">
		<div class="col s4 m2 l2">
			<img id="logo Ic1" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/Ic1.png" alt="Instituto Carlos I">
		</div>
		<div class="col s4 m2 l2">
			<img id="logo GEMF" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/GEMF.png" alt="Grupo Especializado de Mujeres en Física">
		</div>		
		<div class="col s4 m2 l2">
			<img id="logo Qurv" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/Qurv.svg" alt="Qurv">
		</div>
		<div class="col s4 m2 l2">
			<img id="logo LuxQuanta" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/LuxQuanta.png" alt="LuxQuanta">
		</div>
		<div class="col s4 m2 l2">
			<img id="logo ElGlobo" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/ElGloboV2.png" alt="ElGlobo">
		</div>
		<div class="col s4 m2 l2">
			<img id="logo Atomica" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/IMG_5199.png" alt="Atomica">
		</div>
	</div>
</div>

<div class="section" id="content-mobile">
	<h2>Organiza:</h2>
	<div class="row">
		<div class="col s12 m6 l4">
			<img id="logo GdeE" class="materialboxed" width="100%" src="/img/logos/gdee-rsef.png" alt="Grupo de Estudiantes de la RSEF">
		</div>
		<div class="col s12 m6 l4">
			<img id="logo EPS-YM" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/YoungMinds.png" alt="European Physical Society - Young Minds">
		</div>
	</div>
	
	<h2>Colaboradores oro:</h2>
	<div class="row">
		<div class="col s6 m3 l3">
			<img id="logo Fujitsu" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/Fujitsu.png" alt="Fujitsu">
		</div>
		<div class="col s6 m3 l3">
			<img id="logo Facultad Ciencias Granada" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/FacCienciasGranada.png" alt="Facultad de Ciencias de Granada">
		</div>
	</div>
 
	<h2>Colaboradores plata:</h2>

	<div class="row">
		<div class="col s6 m3 l3">
			<img id="logo Parque de las Ciencias" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/ParqueDeLasCiencias.png" alt="Parque de las Ciencias de Granada">
		</div>
		<div class="col s6 m3 l3">
			<img id="logo Junta Andalucia" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/LogoAndaluciaJunto_redimension.svg" alt="Juventud Andaluza - Junta de Andalucia">
		</div>
		<div class="col s6 m3 l3">
			<img id="logo COFIS" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/COFIS.png" alt="COFIS">
		</div>
	</div>

	<h2>Colaboradores bronce:</h2>

	<div class="row">
		<div class="col s4 m2 l2">
			<img id="logo Ic1" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/Ic1.png" alt="Instituto Carlos I">
		</div>
		<div class="col s4 m2 l2">
			<img id="logo GEMF" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/GEMF.png" alt="Grupo Especializado de Mujeres en Física">
		</div>		
		<div class="col s4 m2 l2">
			<img id="logo Qurv" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/Qurv.svg" alt="Qurv">
		</div>
		<div class="col s4 m2 l2">
			<img id="logo LuxQuanta" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/LuxQuanta.png" alt="LuxQuanta">
		</div>
		<div class="col s4 m2 l2">
			<img id="logo ElGlobo" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/ElGloboV2.png" alt="ElGlobo">
		</div>
		<div class="col s4 m2 l2">
			<img id="logo Atomica" class="materialboxed" width="100%" src="/img/eventos/2024-ENEF/Patrocinadores/IMG_5199.png" alt="Atomica">
		</div>
	</div>
</div>
