<div class="section" id="content-desktop">
	<h2>Organiza:</h2>
	<div class="row">
		<div class="col s12 m6 l6">
			<img id="logo GdeE" class="materialboxed" width="100%" src="/img/logos/gdee-rsef.png" alt="Grupo de Estudiantes de la RSEF">
		</div>
	</div>
	<h2>Colaboradores oro:</h2>
	<div class="row">
		<div class="col s12 m6 l6">
			<img id="logo EPS-YM" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/YoungMinds.png" alt="European Physical Society - Young Minds">
		</div>
		<div class="col s6 m6 l3">
			<img id="logo EDP" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/edp.png" alt="EDP">
		</div>
		<div class="col s6 m6 l3">
			<img id="logo NFQ" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/NWorld.png" alt="NFQ">
		</div>
	</div>
	<h2>Colaboradores plata:</h2>
	<div class="row">
		<div class="col s4 m4 l3">
			<img id="logo Cajastur" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/Cajastur.png" alt="Cajastur">
		</div>
		<div class="col s4 m4 l3">
			<img id="logo TKELEVATOR" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/TKE.png" alt="TKElevator">
		</div>
		<div class="col s4 m4 l3">
			<img id="logo Merkle" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/Merkle.png" alt="Merkle">
		</div>
		<div class="col s4 m4 l3">
			<img id="logo TIMEO" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/FATineo.png" alt="Fundación Automáticos Tineo">
		</div>
		<div class="col s4 m4 l3">
			<img id="logo ClusterTic" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/ClusterTic.png" alt="ClusterTic">
		</div>
		<div class="col s4 m4 l3">
			<img id="logo CASIO" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/CDE.png" alt="CASIO">
		</div>
	</div>
</div>

<div class="section" id="content-mobile">
	<h2>Móvil</h2>
</div>
