<footer class="page-footer aisf" style="background-color: #352F71;">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Contact</h5>
        <p class="grey-text text-lighten-4" style="text-align: justify">The Student Group (GdeE) of the Royal Spanish Society of Physics (RSEF) seeks to bring together all physics students in Spain, provide them with new opportunities at both national and international levels, and help improve the dissemination and teaching of physics. The GdeE is the National Committee Spain in the International Association of Physics Students (IAPS).</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Previous Editions</h5>
        <ul>
	        <li><a class="white-text" href="https://plancks.uk/dublin24/">Dublin 2024</a></li>
	        <li><a class="white-text" href="https://plancks23.ai-sf.it/">Milan 2023</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Share</h5>
        <ul>
	        <!-- <li><a class="white-text" href="https://www.facebook.com/EstudiantesRSEF/">Página de Facebook</a></li> -->
                <li><a class="white-text" href="https://twitter.com/EstudiantesRSEF">Twitter</a></li>
                <li><a class="white-text" href="https://www.instagram.com/estudiantesrsef/">Instagram</a></li>
		<li><a class="white-text" href="https://www.youtube.com/channel/UCxKN9jdwl2EgFsGcwDj1QOg">Canal de Youtube</a></li>
		<li><a class="white-text" href="https://www.linkedin.com/company/grupo-de-estudiantes-rsef/">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span>
        <center>
          Made with ❤ by <a class="grey-text text-lighten-4 bold" href="{{ root_url }}/comite-administracion-web-y-herramientas-digitales/">Grupo de Estudiantes RSEF</a> &cup; <a class="grey-text text-lighten-4 bold" href="http://ai-sf.it/sottocommissioni/it">AISF</a> | <a class="grey-text text-lighten-4 bold" href="https://rsef.es/aviso-legal-y-politica-de-privacidad">&copy; Aviso Legal y Política de Privacidad</a>
        </center>
      </span>
    </div>
  </div>
</footer>
