<div class="section" id="content-desktop">

  <h2>Organizers:</h2>
    
  <div class="row">
    <div class="col s12 m6 l4">
      <img id="logo GdeE" class="materialboxed" width="100%" src="/img/logos/gdee-rsef.png" alt="Grupo de Estudiantes de la RSEF">
    </div>
    <!-- <div class="col s12 m6 l4">
      <img id="logo EPS-YM" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/YoungMinds.png" alt="European Physical Society - Young Minds">
    </div> -->
  </div>
	
  <!--
  <h2>Colaboradores oro:</h2>
  <h2>Colaboradores plata:</h2>
  <h2>Colaboradores bronce:</h2>
  -->

</div>

<div class="section" id="content-mobile">
  
  <h2>Organizers:</h2>

  <div class="row">
    <div class="col s12 m6 l4">
      <img id="logo GdeE" class="materialboxed" width="100%" src="/img/logos/gdee-rsef.png" alt="Grupo de Estudiantes de la RSEF">
    </div>
    <!-- <div class="col s12 m6 l4">
      <img id="logo EPS-YM" class="materialboxed" width="100%" src="/img/eventos/2023-ENEF/Patrocinadores/YoungMinds.png" alt="European Physical Society - Young Minds">
    </div> -->
  </div>
	
  <!--
  <h2>Colaboradores oro:</h2>
  <h2>Colaboradores plata:</h2>
  <h2>Colaboradores bronce:</h2>
  -->

</div>
