<meta charset="UTF-8">
<footer class="page-footer" style="background-color: #352F71;">
  <div class="container">
    <div class="row" style="display: flex; justify-content: space-between;">
      <div class="col l4 s12" style="text-align: left;">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="white-text" href="mailto:estudiantes@rsef.es">Organizing Committee</a></li>
        </ul>
      </div>
      <div class="col l4 s12" style="text-align: center;">
        <h5 class="white-text">Previous Editions</h5>
        <ul>
          <li><a class="white-text" href="https://plancks.uk/dublin24/">2024 Dublin 🍀<img src="https://twemoji.maxcdn.com/v/latest/svg/1f1ee-1f1ea.svg" alt="🇮🇪" width="20px"></a></li>
          <li><a class="white-text" href="https://plancks23.ai-sf.it/">2023 Milan 🍕🇮🇹</a></li>
          <li><a class="white-text" href="https://iaps.info/events/plancks/plancks-2022/">2022 Munich 🍻🇩🇪</a></li>
          <li><a class="white-text" href="https://iaps.info/events/plancks/plancks-2021-online/">2021 Online 😷📉</a></li>
          <li><a class="white-text" href="https://iaps.info/events/plancks/plancks-2020-london/">2020 London 💂🏴</a></li>
        </ul>
      </div>
      <div class="col l4 s12" style="text-align: right;">
        <h5 class="white-text">Share!</h5>
        <ul>
          <li><a class="white-text" href="https://x.com/plancks25">Twitter</a></li>
          <li><a class="white-text" href="https://www.instagram.com/estudiantesrsef/">Instagram</a></li>
          <li><a class="white-text" href="https://www.youtube.com/channel/UCxKN9jdwl2EgFsGcwDj1QOg">Youtube Channel</a></li>
          <li><a class="white-text" href="https://www.linkedin.com/company/grupo-de-estudiantes-rsef/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span>
        <center>
          Made with ❤ by <a class="grey-text text-lighten-4 bold" href="{{ root_url }}/comite-administracion-web-y-herramientas-digitales/">Grupo de Estudiantes RSEF</a> &cup; <a class="grey-text text-lighten-4 bold" href="http://ai-sf.it/sottocommissioni/it">AISF</a> | <a class="grey-text text-lighten-4 bold" href="https://rsef.es/aviso-legal-y-politica-de-privacidad">&copy; Aviso Legal y Política de Privacidad</a>
        </center>
      </span>
    </div>
  </div>
</footer>
