<script type="application/ld+json">
    {
	"@context": "http://schema.org",
	"@type": "Organization",
  "name": "Grupo de Estudiantes de la Real Sociedad Española de Física",
  "alternateName": "Estudiantes RSEF",
  "url": "https://estudiantes.rsef.es",
  "logo": "https://estudiantes.rsef.es/static_files/logo.png",
	"address": {
	    "@type": "PostalAddress",
	    "addressLocality": "Madrid",
	    "addressCountry": "ES",
	    "streetAddress": "Plaza de las Ciencias 1",
	    "postalCode": "28040"
	},
	"email": "estudiantes@rsef.es",
	"foundingDate": "2018-10-18",
	"foundingLocation": {
	    "@type": "Place",
	    "address": {
		"@type": "PostalAddress",
		"addressLocality": "Madrid",
		"addressCountry": "ES"
	    }
	},
  "sameAs": [
    "https://www.facebook.com/EstudiantesRSEF",
    "https://www.instagram.com/estudiantesrsef/",
    "https://github.com/EstudiantesRSEF/EstudiantesRSEF.github.io",
    "https://estudiantes.rsef.es"
  ]
    }
</script>
