<script type="application/ld+json">
    {
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "Real Sociedad Española de Física",
	"alternateName": "EstudiantesRSEF",
	"url": "http://estudiantesrsef.github.io",
	"address": {
	    "@type": "PostalAddress",
	    "addressLocality": "Madrid",
	    "addressCountry": "ES",
	    "streetAddress": "Plaza de las Ciencias 1",
	    "postalCode": "28040"
	},
	"email": "esecutivo&#64;&#97;&#105;&#45;&#115;&#102;&#46;&#105;&#116;",
	"foundingDate": "2018-10-18",
	"foundingLocation": {
	    "@type": "Place",
	    "address": {
		"@type": "PostalAddress",
		"addressLocality": "Madrid",
		"addressCountry": "ES"
	    }
	},
	"logo": "http://estudiantesrsef/img/logo.jpg",
	"description": ""
    }
</script>
