img .fullwidth {
    width: 100%;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
}


span {
    text-align: justify;
}

//sets color for font-awesome icons
.fa {
    color: $secondary-color
}

.carousel {
    height: 500px;
    .carousel-item {
	width: 500px;
	img {
	    width:100%;
	}
    }
}

@import "custom_c/events";
@import "custom_c/article";
@import "custom_c/blog";

#index-top-logo {
width: 100%;
height: 100%;
padding: 20px 0 0 0;
}

#index-page h2 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}

#index-page h3 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;}

#index-page h4 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;}

#foto-eventi { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0; text-shadow: 2px 2px 6px #000000;}

#index-collection-eventi span { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}


#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}
