/* Defined by Miguel Durán
Here I want to have the different class of links that I will be creating*/

.prelis24:link {
  color: #3ca41c;
  background-color: transparent;
  text-decoration: none;
}

.prelis24:visited {
  color: #3399ff;
  background-color: transparent;
  text-decoration: none;
}

.prelis24:hover {
  color: #308316;
  background-color: transparent;
  text-decoration: none;
}
