/* Defined by Miguel Durán
Here I want to have the different class of links that I will be creating*/

.a.prelis24 {
  color: #3ca41c;
  background-color: transparent;
  text-decoration: none;

  &:visited {
  color: #3399ff;
  background-color: transparent;
  text-decoration: none;
}

  &:hover {
  color: #308316;
  background-color: transparent;
  text-decoration: none;
}}
