.dropdown-content {
  @extend .z-depth-1;
  background-color: $dropdown-bg-color;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
  align-items: flex-start;

  li {
    clear: both;
    color: $off-black;
    cursor: pointer;
    line-height: 1.5rem;//100px; /* Para centrar verticalmente */
    width: 100%;
    text-align: left;
    text-transform: none;
    height: 100px; /* Altura fija de 100px */
    border: 1px solid red;
    display: flex;
    align-items: center;

    &:hover, &.active {
      background-color: $dropdown-hover-bg-color;
    }

    & > a, & > span {
      font-size: 1.2rem;
      color: $dropdown-color;
      display: block;
      padding: 1rem; /* Ajustar padding vertical a 0 para centrar el texto */
      border: 1px solid black;
    }

    // Icon alignment override
    & > a > i {
      height: inherit;
      line-height: inherit;
    }
  }
}

.dd-plancks{
  &:hover, &.active {
    color: #333072
  }
  & > a, & > span {
      height: 100px; /* Asegura que los enlaces también tengan 100px */
      line-height: 100px; /* Asegura que el texto esté centrado */
    }
}
