// Menu button CSS

// @media #{$medium-and-up} { // Only for big screen devices

#menu {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 85%;
    top: 80%;
    list-style: none;
    font-size: 200%;
  }

  .menu-button {
      opacity: 0;
      z-index: -1;
  }

  .menu-button {
      color: #ffffff;
      width: 70px;
      height: 70px;
      position: absolute;
      left: 50%;
      top: 80%;
      border-radius: 50%;
      background: #333333;
      background-size: 100%;
      overflow: hidden;
      text-decoration: none;
  }

  #menu:not(:target)>a:first-of-type,
  #menu:target>a:last-of-type {
      opacity: 1;
      z-index: 1;
  }

  #menu:not(:target)>.icon-plus:before,
  #menu:target>.icon-minus:before {
      opacity: 1;
  }

  .menu-item {
      width: 70px;
      height: 70px;
      position: absolute;
      left: 50%;
      top: 80%;
      border-radius: 50%;
      background-color: #2EE0A0;
      transform: translate(0px, 0px);
      transition: transform 500ms;
      z-index: -2;
      transition: .5s;
  }

  .menu-item:hover{
  opacity: 0.5;
    box-shadow: 0 5px 10px black;
  }


  .menu-item a {
      color: #134678;
      position: relative;
      left: 25%;
      top: 30%;
  }

  #menu:target>.menu-item:nth-child(6) {
      transform: translateY(-320px);
      transition-delay: 0.3s;
  }

  #menu:target>.menu-item:nth-child(5) {
      transform: translateY(-240px);
      transition-delay: 0.2s;
  }

  #menu:target>.menu-item:nth-child(3) {
      transform: translateY(-160px);
      transition-delay: 0.1s;
  }

  #menu:target>.menu-item:nth-child(4) {
      transform: translateY(-80px);
      transition-delay: 0s;
  }


.menu-button-fixed {
  position: relative;
  z-index: 998;

  #menu {
    position: fixed;
  }
}
