---
layout: default
---
<div itemscope itemtype="http://schema.org/Article">
<div class="container">
    <div class="" >
      <header class="article-header">
        <h1 class="article-title" itemprop="name">{{ page.title }}</h1>
        <p class="article-meta"> <time datetime="{{ page.date | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author">{{ page.author }}</span>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <article class="article-content" itemprop="articleBody">
          {{ page.content | replace:'<img ','<img class="materialboxed" ' }}
      </article>
    </div>
</div>
</div>
