{% assign aisf = "#28008c" %}
{% assign crimson = "#d60430" %}
<!DOCTYPE html>
<html lang="it">
  {% include head.html %}
  <!-- <body style="background-color:#EBF3FF;"> -->
  <body style="background-image: url('/img/eventos/2023-ENEF/Banner-3.png');">
<!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFMX8WX"
      height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
  </noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include nav.html nav=site.data.menu %}
        {{ content }}
    {% include footer.html %}
  </body>
  {% include scripts.html %}
</html>
