{% assign aisf = "#28008c" %}
{% assign plancks_color = "#352F71" %}
{% assign background = "#F3D9FF" %}
<!DOCTYPE html>
<html lang="it">
  {% include head.html %}
  <body style="background-color:{{ background }};">
  <!-- <body style="background-color: #EBF3FF;"> -->
  <!-- <body style="background-image: url('/img/eventos/2023-ENEF/Background.png');"> -->
<!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFMX8WX"
      height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
  </noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include plancksnav.html nav=site.data.plancksnav %}
        {{ content }}
    {% include plancksfooter.html %}
  </body>
  {% include scripts.html %}
</html>
